body{
  background-color: #ff6600;
  font-family:Verdana;
  text-align: center;
 margin: 0 20%;
  padding:0px
}

#main{
  margin:0px auto;
  width:75%;
}

input{
  padding:5px;
  margin:5px;
}
label{
  width: 162px;
  display: inline-flex;
}


.box{
  border: 2px solid black;
  background-color: #dad7d7;
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  font-size: 18pt;
}
#boxR2C0,#boxR2C1,#boxR2C2,#boxR2C3,#boxR2C4,#boxR2C5,
#boxR2C6,#boxR2C7,#boxR2C8,#boxR5C0,#boxR5C1,#boxR5C2,
#boxR5C3,#boxR5C4,#boxR5C5,#boxR5C6,#boxR5C7,#boxR5C8
{
border-bottom: 4px solid black;
}
#boxR0C2,#boxR1C2,#boxR2C2,#boxR3C2,#boxR4C2,#boxR5C2,
#boxR6C2,#boxR7C2,#boxR8C2,#boxR0C5,#boxR1C5,#boxR2C5,
#boxR3C5,#boxR4C5,#boxR5C5,#boxR6C5,#boxR7C5,#boxR8C5
{
border-right: 4px solid black;
}
.empty, .empty2{
    background-color: #FFFFFF
}
.error{
    background-color: #f7abaf
}
.X{
  background-color: red;
}
.O{
  background-color: green;
}

#msg{
  font-family: cursive,"Comic Sans MS";
  font-size: 30pt;
}


/* MENU STYLESReset and base styles */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
}

.menu li {
  position: relative;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #555;
}

/* Submenu styles */
.submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  min-width: 150px;
  display: none; /* Hidden by default */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.submenu li {
  width: 100%;
}

.submenu a {
  padding: 12px 20px;
}

.submenu a:hover {
  background-color: #666;
}

/* Show submenu on hover */
.has-submenu:hover .submenu {
  display: block;
}