body{
  background-color:rgb(149, 213, 180);
  font-family:Verdana;
  margin:0px;
  padding:0px
}
#main{
  margin:0px auto;
  width:75%;
}
ul{  
  display: flex;  
  justify-content: space-around;
  padding:0px;
  margin:0px;
}
ul li {  
  flex: 1;  
  list-style:none;
}
ul li a {  
  padding:5px;
  margin:2%;
  background-color:white;
  display:inline-block;
  height:100%;
   width:100%;
   border:4px solid #f32040;
  text-decoration:none;
  font-weight:bold;
}
ul li a:hover {  
  background-color:#c1b9ae;
  text-decoration: underline;
}
input{
  padding:5px;
  margin:5px;
}
label{
  width: 162px;
  display: inline-flex;
}
table{
  background-color:azure;
  border-collapse: collapse;
  width:100%;
  border:2px solid #ff6600;
}
td{
  padding:5px;
}
td:hover{
  background-color: rgb(212, 247, 184);
}

.box{
  border: 2px solid black;
  background-color: #dad7d7;
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  font-size: 18pt;
}
.empty{
    background-color: #FFFFFF
}
.error{
    background-color: #f7abaf
}
.X{
  background-color: red;
}
.O{
  background-color: green;
}
body{
  background-color: #ff6600;
  text-align: center;
  margin: 0 20%;
}
#msg{
  font-family: cursive,"Comic Sans MS";
  font-size: 30pt;
}