<html>
  <head>
    <title>Mrs James' Example Flask Project</title>
    <link rel="stylesheet" href="/static/styles.css">
   

  </head>
  <body>
    <div id="main">
    <ul class="menu">
      <li><a href="/">HOME</a></li>
      <li class="has-submenu">
        <a href="#">New Puzzle</a>
      <ul class="submenu">
        <li><a href="/startpuzzle/easy">Easy</a></li>
        <li><a href="/startpuzzle/medium">Medium</a></li>
        <li><a href="/startpuzzle/hard">Hard</a></li>
      </ul>
      </li>
      <li><a href="/mypuzzles">My Puzzles</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/tictactoe">Tic Tac Toe</a></li>
      {% if session["name"]!=None %}
        <li><a href="/logout">Log out</a></li>
      {% else %}
        <li><a href="/register">Register</a></li>
      {% endif %}
    </ul>
    {% if session["name"]!= None %}
      <p>Welcome back {{session["name"]}}</p>
    {% endif %}

    
    {% block content %}{% endblock %}

    </div>
    <script src="/static/script.js"></script>
  </body>
</html>