{% extends 'base.html' %} 
{% block content %}

<h2>My Puzzles</h2>

{% for i in range(puzzles| length)%}
    <a href='do_puzzle/{{puzzles[i]["puzzle_id"]}}' class='puzzle_link'><div class='puzzle_block finished{{puzzles[i]["isFinished"]}}' >
        <p>Puzzle {{puzzles[i]["puzzle_id"]}}</p>
        <p>Difficulty {{puzzles[i]["difficulty"]}}</p>
        <p>isFinished {{puzzles[i]["isFinished"]}}</p>
        <p>num hints {{puzzles[i]["num_hints"]}}</p><!-- new !!! -->
        <p>score {{scores[i]-puzzles[i]["num_hints"]}}</p>
    </div></a>
{% endfor %}
{% endblock %}