{% extends 'base.html' %} 
{% block content %}
{{users}}
<h2>Suduko</h2>
<h3>Puzzle ID: {{puzzle_id}}</h3>
<h4>Difficulty: (add difficulty here)</h4>
<p>Right click to use a hint for a cell!</p>
<p>Hints used so far: <span id="num_hints">{{num_hints}}</span></p>
<div class="puzzle_grid"><!--NEW!!!!-->
{%for i in range(0,9) %}
    {% for j in range(0,9) %}
        {% if puzzle[i][j] == None %}<!-- contents of div need to on one line as jscript will read all the white space-->
        <!-- added puzzzle_id to checkSquare parameter-->
            <div id="boxR{{i}}C{{j}}" class="box empty" contentEditable="true" 
            onkeyup="checkSquare({{i}}, {{j}}, {{puzzle_id}})"
            oncontextmenu="showHintMenu(event, {{i}}, {{j}}, {{puzzle_id}}); return false;">{% if attempt[i][j] != None %}{{ attempt[i][j] }}{% endif %}</div>
        {% else %}
            <div id="boxR{{i}}C{{j}}" class="box" >{{ attempt[i][j] }}</div>
        {% endif %}
    {% endfor %}
    <br style="clear:both">
{% endfor %}
</div><!--NEW!!!!-->
<button onclick="save_puzzle({{puzzle_id}})">Save my progress</button>
<button onclick="clear_puzzle({{puzzle_id}})">Clear puzzle & start over</button>
<p id="msg">

<h3>Solution</h3>
<div class="solution_grid"><!--NEW!!!!-->
{%for i in range(0,9) %}
    {% for j in range(0,9) %}
        {% if puzzle[i][j] == None %}
            <div id="boxR{{i}}C{{j}}" class="box empty2">{{ solution[i][j] }}</div>
        {% else %}
            <div id="boxR{{i}}C{{j}}" class="box" >{{ solution[i][j] }}</div>
        {% endif %}
    {% endfor %}
    <br style="clear:both">
{% endfor %}
</div><!--NEW!!!-->
<p id="msg">
<div id="contextMenu" style="display: none; position: absolute; background: white; border: 1px solid #ccc; padding: 10px;">
    xxx , should be overwritten...
</div>

{% endblock %}